control_panel_root:
    pattern: /cp/
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: control_panel_dashboard
        permanent: true

control_panel_login:
    pattern:  /cp/login
    defaults: { _controller: ControlPanelBundle:Default:login }

# This route should never 'actually' be executed, the firewall should always intercept it
control_panel_login_processor:
    pattern:  /cp/login/process
    defaults: { _controller: ControlPanelBundle:Default:checkLogin }
    
# This route should never 'actually' be executed, the firewall should always intercept it
control_panel_logout_processor:
    pattern:  /cp/logout
    defaults: { _controller: ControlPanelBundle:Default:logout }
    
control_panel_dashboard:
    pattern:  /cp/dashboard/
    defaults: { _controller: ControlPanelBundle:Dashboard:dashboard }