{% extends '::base.html.twig' %}
{% block css %}
<link href="{{ asset('bundles/frontend/css/pnweb.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/frontend/css/slider.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="bundles/frontend/js/flexslider.js"></script>
<script type="text/javascript" src="bundles/frontend/js/home.js"></script>
<script type="text/javascript" src="bundles/frontend/js/footer.js"></script>
{% endblock %}

{% block body %}
<div class="home-slider">
    <div class="home-text-wrapper">
        <div class="home-logo-text">
            <img src="bundles/frontend/images/neve.png" alt="purple+neve" />
        </div>       
        <div id="home-slider" class="flexslider">            
            <ul class="slides styled-list">
                <li class="home-slide"><p class="home-slide-content">We are <span>Creative</span> Nerds</p></li>
                <li class="home-slide"><p class="home-slide-content">We are <span>Crazy</span> Coders</p></li>
                <li class="home-slide"><p class="home-slide-content">We <span>Love</span> Coffee</p></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}