{% extends '::base.html.twig' %}
{% block title %}PURPLE+NEVE Control Panel - Dashboard{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    panel abc123
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    panel def456
                </div>
            </div>
        </div>
    </div>
{% endblock %}
