.btn-default {
    background: #6c3f83;
    border: 0;
    color: #fff;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
    background-color: #432354;
    border: 0;
    color: #fff;
}