footer {
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.2);
    background: url('/bundles/frontend/images/black-bg.jpg') repeat center; 
    width: 100%;
    color: #fff;
    padding: 30px 0;
}

#map-canvas {
    height: 402px;
    border-radius: 3px;
    margin-bottom: 40px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0 , 0, 0, 1);
}


p.copyright {
    float: left;
    line-height: 50px;
    margin-bottom: 0;
}

p.copyright img {
    height: auto;
    width: 35px;
    border: 0;
}

#map-canvas div.gmnoprint, 
#map-canvas div div + div a img {
    display: none
}

address p span {
    color: #8d5aa8;
    display: inline-block;
    font: 14px/30px 'Roboto Slab', Arial, Helvetica, sans-serif;
    min-width: 110px;
    text-transform: uppercase;
}

address p.address i {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #2d2d2d;
    line-height: 30px;
    color: #8d5aa8;
    text-align: center;
    display: inline-block;
    float: left;
}

.social-media a {
    display: inline-block;
}

.social-media a i {
    margin-left: 1px;
    width: 50px;
    height: 50px;
    background: #6c3f83;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.social-media a i:hover {
    background: #432354;
}

.social-media a:hover i {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.copy-cont {
    margin-top: 20px;
}