body {
    background: #3b3b3b;
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

.btn,
.navbar-brand, 
.nav > li > a, 
.nav > li > a i, 
.dropdown-menu > li > a, 
.social-links a i, 
.nav > li > a:hover, 
.nav > li > a:focus {
    transition: all linear 0.25s;
    -ms-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
}


header {
    background: url('/bundles/frontend/images/black-bg.jpg') repeat center;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

header img {
    height: auto;
    width: 180px;
}

a:active,
a:focus,
a {
    color: #fff;
}

a:hover {
    color: #7E0bbc;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}