body {
    background: #3b3b3b;
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

header {
    background: url('/bundles/frontend/images/black-bg.jpg') repeat center;
    box-shadow: 0px 5px 3px rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

header img {
    height: auto;
    width: 180px;
}

a:active,
a:focus,
a {
    color: #fff;
}

a:hover {
    color: #6c3f83;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}