header {
    background: url('/bundles/frontend/images/black-bg.jpg') repeat center;
    box-shadow: 0px 6px 6px rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

header img {
    height: auto;
    width: 180px;
}

footer {
    color: #333;
    font-family: 'Roboto Slab', 'Open Sans', 'Arial';
    font-size: 16px;
    line-height: 50px;
    height: 70px;
}

footer img {
    height: auto;
    width: 30px;
}

footer {
    background: url('/bundles/frontend/images/black-bg.jpg') repeat center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}